# Base de datos (Supabase)
DATABASE_URL="postgresql://postgres:[PASSWORD]@db.[REF].supabase.co:5432/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres:[PASSWORD]@db.[REF].supabase.co:5432/postgres"

# NextAuth
NEXTAUTH_SECRET="cadena-aleatoria-de-32-caracteres"
NEXTAUTH_URL="http://localhost:3000"

# Supabase Storage
NEXT_PUBLIC_SUPABASE_URL="https://[project-ref].supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY=""

# Google Analytics
NEXT_PUBLIC_GA_ID="G-XXXXXXXXXX"

# WhatsApp (numero sin +, sin espacios, con codigo de pais)
NEXT_PUBLIC_WHATSAPP_NUMBER="5491112345678"
